name: Deploy Backend

on:
  push:
    branches: [ main ]
    paths:
      - backend/**
      - k8s/**

jobs:
  deploy:
    runs-on: self-hosted

    permissions:
      contents: write
      packages: write

    env:
      IMAGE_NAME: ghcr.io/notemberg/app-backend
      IMAGE_TAG: sha-${{ github.sha }}

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Image
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG ./backend
          docker push $IMAGE_NAME:$IMAGE_TAG

      - name: Setup kubectl
        run: |
          echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > kubeconfig
          export KUBECONFIG=$PWD/kubeconfig
          kubectl version --client
          kubectl config get-contexts
          kubectl get nodes

      - name: Update image tag
        run: |
          sed -i "s|__IMAGE_TAG__|$IMAGE_TAG|g" k8s/base/backend-deployment.yaml

      - name: Deploy to Kubernetes
        run: |
          export KUBECONFIG=$PWD/kubeconfig
          kubectl apply -f k8s/base
          kubectl rollout status deployment/backend -n app
